@media only screen and (min-width: 769px) and (max-width : 1024px){
    .inner_header{
        padding: 22px 15px;
    }
    .inner_highlights{
        padding: 50px 15px;
    }
    .highlights_content {
        flex-basis: 315px;
    }
}

@media only screen and (min-width: 427px) and (max-width : 768px){
    .inner_header{
        padding: 22px 15px;
    }
    .inner_highlights{
        padding: 50px 15px;
    }
    .highlights_content {
        flex-basis: 355px;
    }
}



@media only screen and (min-width: 0px) and (max-width : 426px){
    .inner_header{
        padding: 22px 15px;
    }
    .inner_highlights{
        padding: 30px 15px;
    }
    .inner_header{
        flex-direction: column;
    }
    .logo{
        margin-bottom: 15px;
    }
    .highlights_heading h2{
        font-size: 28px;
    }
    .highlights_content_outer{
        padding: 25px 0px;
    }
    .highlights_content{
        flex-basis: 100%;
    }
}